

/*banner*/
.banner{
	position: relative;
	/*overflow:hidden; 超過容器就hidden*/
	width:100%;
	min-width:1200px;
	height:380px;
	background:url(../images/banner2.jpg) no-repeat; 
	background-size:100%;
}

.anitext{
	position:absolute;
	top:30%;
	left:10%;
	font-family: 'Courgette', cursive;
	color:rgba(255, 255, 255, 1);
	font-size:60px;
	opacity:0;

	animation-name: ant;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-delay: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;

	-webkit-animation-name: ant; /* 動畫名稱 */
    -webkit-animation-duration: 4s; /* 動畫時間3秒 */
    -webkit-animation-iteration-count: 1; /* 播放次數1次 */
    -webkit-animation-timing-function: ease; /* 動態方式漸慢開始與結束 */
    -webkit-animation-delay: 1s; /* 1秒後播放 */
    -webkit-animation-direction: normal; /* 動畫播放順序為順向 */
    -webkit-animation-fill-mode: forwards; /* 動畫結束後停格於最後一格，需搭配direction */
}


@keyframes ant{
    from   {
        left:0%;
    }
    
    to  {
        opacity:1;
    }
}



/* topic */
.topic{

    text-align: center;
    
}

/* special */
.special_all{
    margin-bottom:200px;
    margin-top: 30px;
}
.special{
    clear:both;
    width: 80%;
    margin: auto;
	
}
.wraptext2{
    float:left;
    width:100%;
    box-sizing:border-box;
    padding:10px;
    background:#DABEA7;
    opacity: 0.95;
    /*border:solid 1px #DABEA7;*/
    color: #87605a;
	
}
.wraptext2 p{
    line-height:2em;
}
.wraptext2 img{
    float:left;
    padding-right:20px;
}



/* section */
section{
	width:80%;
	/*min-width:1500px;*/
	margin:auto;
    margin-bottom:1000px;
}

article{
	float:left;
	width:100%;
	box-sizing:border-box;
	margin:50px 0px 0px;
	background:rgba(255,255,255,.5);
    background-color: #DABEA7;

}

article:nth-child(2n){
    background: #87605a;    
}

article .picbox, article .desbox{
	float: left;
	width: 50%;
   
	box-sizing: border-box;
	position: relative;
    height: 680px;
    overflow: hidden;
}

article .desbox{
	padding: 80px;
	line-height: 2em;
	text-align: justify;
}

.desbox h1{
    font-weight:900;
    font-size:40px;
    color:rgba(255, 190, 10, );
    line-height:2em; /*2被行高*/
}

/*after是在段落最後*/
.desbox p::after{
    content: url(../images/sq.jpg); /*像四方的小雜誌*/
}

.picbox img{
    width:100%;
}
/*special*/
.special{
	display:table; /*使用in-line block 無法置中*/
    margin: auto;
	
   
}
.box_all{
	float: left;
	display: inline;
	width: 350px;
	margin: 10px;
  
}

.box{
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    height: 600px;
    background:rgba(255,255,255,1);
    margin:12px 0px 0px;
    z-index:10;
    overflow:hidden;
	/*border: #87605a 1px solid;*/
    
    border:  gray 0.5px solid;
    border-radius:15px;
	
}

.imgbox{
    width:100%;
    overflow:hidden;
	margin: auto;
}

.box .imgbox img{
    float:left;
    width:100%;

	-ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */

	transition: transform 1.5s;
    -webkit-transition: transform 1.5s;
    
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;/* Safari */
}

.box:hover .imgbox img{
    
	-ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2); /* Standard syntax */
}

.box h3{
    box-sizing:border-box;
    padding:0px 20px;
    color:#87605a;
	
	padding-top: 10px;
}
.box p{
    box-sizing:border-box;
    padding:0px 20px;
    color:black;
	
}

.head{
	display: inline-block;
	padding: 0px 20px 20px;
}
.head img{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:900;
    font-size:40px;
    color: #87605a;
    line-height:2em; /*2被行高*/
}