@charset "utf-8";
/* CSS Document */

@import url("banner.css");

*{
	padding:0;
	margin:0;
}

/*===============banner================*/

#m1, #m2{
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	overflow:hidden;
}


.swiper-container{
	margin-top: 30px;
	margin-bottom: 20px;
}
/*==============other rwd===============*/

@media only screen and (min-width: 768px) {
#m1, #m2{
	width:80%
}
}

@media only screen and (min-width: 1200px) {

}