@charset "utf-8";
/* CSS Document */

a img{
	border: none;
}

#s_pic, #v_pic{
	position: relative;
	width: 100%;
	height:auto;
}

/*#s_pic{
	display:none;	
}*/

#s_pic img, #v_pic img{
	width:100%;
}

@media only screen and (min-width: 768px) {

#v_pic{
	display:none;
}

#s_pic{
	display:block;	
}

}

@media only screen and (min-width: 1200px) {

}